@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
.button-div {
  display: inline;
}
.toggle-button {
  border-radius: 5px;
  color: white;
  margin: 10px 5px;
  padding-top: 5px;
  padding-bottom: 7px;
  font-size:12px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
}
.button_0 {
  background-color: #dc4f4f;
  border-color: #dc4f4f;
}

.button_1 {
  background-color: #f29859;
  border-color: #f29859;
}

.button_2 {
  background-color: #54cc9d;
  border-color: #54cc9d;
}

.button_3 {
  background-color: #4aa8dd;
  border-color: #4aa8dd;
}
.button_4 {
  background-color: #6f53a3;
  border-color: #6f53a3;
}

.switchoff {
  background-color: white;
  color: gray;
  opacity: 50%;
}
