<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    <header>
      <div>
        <h1>오늘은</h1>
        <!--날씨, 요일-->
        <div class="js-input">
          <span id="weather">비가 오는</span> <span id="day">일요일</span>
        </div>
        <h1 class="align-right">이네요.</h1>
      </div>
    </header>

    <div class="main">
      <div class="contents">
        <div class="food-list">
          <ul>
            <li>해물파전</li>
            <li>샤브샤브</li>
            <li>차돌짬뽕</li>
          </ul>
        </div>
      </div>
      <div class="sidebar">사이드바 영역입니다.</div>
    </div>

    <div class="footer">푸터 영역입니다.</div>
  </body>
</html>
