@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
body {
  background-color: #facac0;
}

header {
  display: flex;
  justify-content: center;
  font-family: "Nanum Pen Script", cursive;
  font-size: 55px;
  font-weight: 800;
}
header > div {
  width: 400px;
}
h1 {
  /*text-align: center;*/
  margin: 10px 25px;
  font-size: 55px;
}
#weather {
}
#day {
}
.js-input {
  text-align: center;
}
.align-right {
  text-align: right;
}

/*div {
  font-size: 30px;
  text-align: center;
}*/

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.main .contents {
  min-height: 500px;
  background-color: white;
  margin-right: 10px;
}

.main .sidebar {
  min-height: 500px;
  background-color: white;
}

.footer {
  margin-top: 10px;
  background-color: white;
}

@media (max-width: 600px) {
  /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
  header {
    width: auto;
  }
  .main {
    display: block;
  }

  .main .contents {
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .main .sidebar {
    min-height: 0;
  }
}
